<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改個人密碼-MiniClinic</title>
</head>
<body>
    <h1>修改個人密碼</h1>
    <p>目前操作醫師：<span th:text="${loggedInDoctorName}"></span></p>

    <div style="color: red;" th:if="${error}" th:text="${error}"></div>
    <div style="color: green;" th:if="${success}" th:text="${success}"></div>

    <form th:action="@{/password}" th:object="${passwordForm}" method="post">
        <div>
            <label>輸入舊密碼：</label>
            <input type="password" name="oldPassword" required>
        </div><br>
        <div>
            <label>設定新密碼：</label>
            <input type="password" name="newPassword" required placeholder="至少 8 個字元">
        </div><br>
        <div>
            <label>確認新密碼：</label>
            <input type="password" name="confirmPassword" required>
        </div><br>
        <button type="submit">確認變更密碼</button>
    </form>
    <br>
    <a th:href="@{/dashboard}">返回醫師工作台</a>
</body>
</html>